.card {
	position: relative;
	width: 162px;
	height: auto;
	aspect-ratio: 162 / 287;
	border-radius: 10px;
	overflow: hidden;
	transition: var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
